<!-- BURGER BUTTON (solo mobile) -->
<button class="btn btn-dark d-md-none m-2"
        (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>

<div class="d-flex">

  <!-- SIDEBAR -->
  <div class="sidebar p-4" [class.show]="sidebarOpen">

    <!-- CONTENT (scrollable area if needed) -->
    <div class="sidebar-content">

      <div>
        <h4 class="text-white mb-4">My cxperts</h4>
        <div class="white-separator"></div>

        <ul class="nav flex-column mt-3">

          <li class="nav-item">
            <a class="nav-link"
               routerLink="/kimco"
               routerLinkActive="active"
               *ngIf="currentUser.role === 5">
              <i class="bi bi-building me-2"></i>KIMCO
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               routerLink="/kimPm"
               routerLinkActive="active"
               *ngIf="currentUser.role === 5">
              <i class="bi bi-buildings me-2"></i>Property Management
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               routerLink="/cxOMS"
               routerLinkActive="active"
               *ngIf="currentUser.role === 6">
              <i class="bi  bi-box me-2"></i>OMS
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               routerLink="/customerOMS"
               routerLinkActive="active"
               *ngIf="currentUser.role === 6">
              <i class="bi  bi-box me-2"></i>Customer OMS
            </a>
          </li>

          <!-- Appeasement -->
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#appeasementMenu">
              <span><i class="bi bi-gear-fill me-2"></i>Appeasement</span>
              <i class="bi bi-caret-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-3" id="appeasementMenu">
              <li>
                <a class="nav-link" routerLink="/appeasement/codes">Codes</a>
              </li>
              <li>
                <a class="nav-link" routerLink="/appeasement/management">Management</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

    </div>

    <!-- FOOTER (always bottom) -->
    <div class="sidebar-footer pt-3 border-top border-light-subtle">
      <button class="btn btn-outline-light w-100" (click)="logout()">
        Logout
      </button>
    </div>

  </div>

  <!-- overlay (mobile only) -->
  <div class="sidebar-backdrop"
       *ngIf="sidebarOpen"
       (click)="toggleSidebar()">
  </div>

</div>